@import '../assets/bootstrap/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pacifico|Oswald');

a:not([href='']),
a:focus,
a:hover {
  color: #005999;
  text-decoration: none;
}

a:hover {
  color: #07Cfff;
}

a[target="_blank"]:after {
  font-family: 'FontAwesome';
  content: " \f08e";
}

body {
  min-width: 320px;
  font-family: Arial, sans-serif;
  background: #f4f7f6;
  font-size: 0.88rem;
}

main {
  width: 100%;
}

.page {
  margin: 20px 0 0 0;
}

.page-anchor {
  position: relative;
  top: -35px;
}

*[role="button"]:hover {
    cursor: pointer;
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
}

h2 {
  margin: 16px 0 15px 16px;
  font-size: 0.8em;
  text-transform: uppercase;
  text-shadow: 1.2px 1.2px #808080;
  //font-family: "Oswald", cursive, sans-serif;
}

h3 {
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 22px 10px 10px 20px;
  text-transform: uppercase;
  font-size: 2em;
  font-family: 'Oswald', sans-serif;
  color: #000;
  border-top: 1px solid #8d734a;
}

.navbar {
  .logo {
    display: block;
    margin: 0;
    padding: 0;

    h1 {
      margin:0 ;
    }

    img {
      width: 19vw;
      min-width: 140px;
      max-width: 170px;
    }
  }

  .navbar-nav .nav-link {
    font-size: 1.10em;
    text-transform: uppercase;
    margin-right: 8px;
    font-weight: bold;
    color: rgba(255, 255, 255, .8);
  }
}

@media screen and (min-width: 992px) {
  .navbar.top {
    background: none !important;

    .logo {
      margin: 5px 15px;

      img {
        max-width: 330px;
      }
    }

    .navbar-nav {
      position: absolute;
      top: 20px;
      right: 30px;
      margin-left: 30px !important;
    }
  }
}

@media screen and (max-width: 992px) { 
  .welcome {
    padding-top: 100px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .navbar.top .logo {
      margin-top: 40px !important;
    }
}

.welcome {
  height: 100%;
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
  background: url('../img/intro.jpg') no-repeat center center;
  background-size: cover;
  padding-bottom: 10px;
  
  @media screen and (min-width: 991px) {
     height: 100vh;

    .pull-bottom {
      width: 100%;
      position: absolute;
      bottom: 10px;
    }
  }

  .card {
    &.weather {
      padding-bottom: 20px;

      @media screen and (max-width: 991px) {
        padding-bottom: 0;
      }
    }

    @media screen and (max-width: 991px) {
      margin-top: 10px;
    }

    @media screen and (max-width: 574px) {
      height: auto;
    }

    * {
      color: #434343;
    }

    *:not(.fa) {
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }

    opacity: 0.75;
  }

  .areal {
    min-width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
    
    td {
      overflow: hidden;
      word-wrap: break-word;
      padding: 8px 5px;
      width: 100%;
      white-space: nowrap;
      border-bottom: 1px solid #D3D3D3;

      &:last-child {
        padding-right: 12px;
      }
    }

    th {
      word-wrap: break-word;
      width: 100%;
      border-bottom: 1px solid #A9A9A9;
      padding: 15px 10px 8px 10px;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.92em;
      color: #434343;
      text-align: center;
    }

    tr:last-child td {
      border: 0;
      padding-bottom: 8px;
    }
    
    tr:first-child th {
      border-top: 0;
    }  

    .icon {
      padding: 5px 7px;
      height: 40px;
      width: 40px;

      &.grey-bg img {
        border-radius: 0.25rem;
        display: block;
        padding: 2px;
        width: auto;
        height: 100%;
        background: #a0a0a0;
        border: 1px solid rgba(0, 0, 0, 0.25);
      }
    }

    .status {
      background-size: 28px;
      background-repeat: no-repeat;
      background-position: 85% center;
      min-width: 28px;

      &.open {
        background-image: url("../img/layout/open.svg");
      }

      &.closed {
        background-image: url('../img/layout/closed.svg');
      }
    }

    #snowheight {
      &::after {
        content: "cm";
      }
    }

    #temperature {
      &::after {
        content: "°C";
      }
    }

    #lastchange {
      padding: 3px 5px;
      border: 0;
      text-align: right;
      font-size: 11px;
    }
  }

  .quick-icons {
    @media screen and (max-width: 991px) {
      margin-top: 10px;
    }

    .contain {
      display: table;
      text-align: center;
      height: 100%;
      width: 100%;
    }

    .contain > div {
      display: table-cell;
      vertical-align: bottom;
      height: 100%;
    }

    ul {
      margin-bottom: 0;
      background: rgba(255, 255, 255, .75);
      border-top: 1px solid rgba(0, 0, 0, .125);
      padding: 0;
      background-clip: border-box;
      border-radius: .25rem;
      display: inline-block;

      @media screen and (max-width: 991px) {
        display: block;
      }

      li {
        display: inline-block;
        text-align: center;
      }

      li a {
        display: block;
        padding: 17px;
        border-right: 1px solid rgba(255, 255, 255, .75);
        width: 60px;
        height: 60px;

        img {
          width: 26px;
        }
      }

      li a:hover {
        padding: 14px;

        img {
          width: 32px;
        }
      }

      li:last-child a {
        border-right: 0;
      }
    }
  }

  @media screen and (min-width: 991px) {
    .weather-container-relative {
      position: relative;
      width: 100%;
      height: 100%;
    }

    .weather-card-container {
      position: absolute;
      bottom: 0; 
      width: 100%;
    }
  }
}

.webcams {
    .webcam, .webcam-main {
        display: block;
    }

    .thumbnails .webcam {
        margin-bottom: 17px;
    }
}

.skimap {
  .map {
    height: 800px;
    width: 100%;
    margin: 0 auto;
    background: url('../img/skimap.jpg') no-repeat center center;
    background-size: cover;

    @media screen and (max-width: 992px) {
      background: url('../img/skimap_sm.jpg') no-repeat center center;
      background-size: contain;
      height: 500px;
    }
  }
}

.prices {
  table {
    td, th {
      letter-spacing: 1px;
      border: 1px solid #8d734a;

      @media screen and (max-width: 576px) {
          padding: 6px;
      }
    }

    th {
      text-align: center;
    }

    td:nth-child(n+2) {
      text-align: right;
      width: 130px
    }

    td:not(.no-unit):nth-child(n+2):after {
      content: " Kč";
    }
  }

  .cards {
    padding: 11px 11px 9px 11px;
    height: 46px;

    img {
      float: left;
      width: 30px;
      margin-left: 20px;
    }
  }
}

.map {
    #map_container {
        height: 500px;
            @include media-breakpoint-down(md) {
                height: 350px;
            }
      }
}

.school {
    .letter {
        padding-right: 15px;
        padding-left: 15px;
    }
    .letter > div {
        padding-right: 0;
        padding-left: 0;
    }
}

footer {
  background: #f4f7f6;

  h5 {
    font-size: 1.22rem;
  }

  background: linear-gradient(#f4f7f6, #a0a0a0);

  div.fcontainer {
    padding: 20px;

    @include media-breakpoint-up(lg) {
      padding: 40px 30px;
    }

    .cards {
      i {
        font-size: 50px;
        margin-right: 10px;
      }
    }
  }

  .quick-icons {
      margin-top: 10px;
      margin-bottom: 0;
      margin: 0px auto;
      border: 1px solid rgba(0, 0, 0, .125);
      padding: 0;
      border-radius: .25rem;
      display: inline-block;

      li {
        display: inline-block;
        text-align: center;
      }

      li a {
        display: block;
        padding: 13px;
        border-right: 1px solid rgba(0, 0, 0, .125);
        width: 52px;
        height: 52px;

        img {
          width: 26px;
        }
      }

      li a:hover {
        padding: 10px;

        img {
          width: 32px;
        }
      }

      li:last-child a {
        border-right: 0;
      }
  }

  .partners {
    img {
      width: 130px;
      margin: 10px 35px 10px 0;

      @include media-breakpoint-down(md) {
            width: 80px;
      }

    }

    .lb img {
      width: 280px;

      @include media-breakpoint-down(md) {
            width: 200px;
      }
    }
  }

  .cards {
    img {
      width: 70px;
      margin: 10px 35px 10px 0;

      @include media-breakpoint-down(md) {
            width: 50px;
      }
    }

    img:last-child {
      margin-right: 0;
    }
  }
}