.about {
  color: black;

  img {
    border-radius: 0.25rem;
    //box-shadow: 3px 3px #818181;
  }
  .carousel {
    margin: 0 auto;
  }

  .carousel-inner {
    height: 100%;
  }

  .carousel-item {
    position: relative;
    height: 100%;
    padding: 15px;

    h5 {
      font-size: 2vw;
    }

    h6 {
      font-size: 1.3vw;
    }

    p {
      font-size: 1.1vw;
    }
  }

  .carousel-item.food {
    img.restaurant {
      position: absolute;
      top: 8vw;
      right: 3vw;
      width: 42%;
    }

    p.restaurant, p.skibar {
      position: absolute;
      width: 32%;
    }

    p.restaurant {
      top: 24vw;
      left: 29vw;
    }

    p.skibar {
      top: 11vw;
      left: 8vw;
    }

    p.offer {
      position: absolute;
      bottom: 1.2vw;
      font-size: 1vw;
      color: black;

      a {
        text-decoration: none;
        color: #333333;
      }
    }

    img.skibar {
      position: absolute;
      top: 18vw;
      left: 5vw;
      width: 38%;
    }

  }
  .carousel-item.equipment {

    .panel {
      display: block;
      background: rgba(0, 0, 0, 0.2);
      width: 100%;
      padding: 10px;
      text-align: center;

      span {
        display: inline-block;
        width: 70%;
      }
    }

    p.snowmachine {
      position: absolute;
      left: 0;
      top: 15%;
      background: url('../img/about/snowmachine.png') no-repeat center center;
      background-size: cover;
      width: 48%;
      height: 15em;
      color: #fff;

      .panel {
        position: absolute;
        bottom: 0;
      }
    }

    p.groomer {
      position: absolute;
      right: 0;
      top: 8%;
      background: url('../img/about/groomer.png') no-repeat center center;
      background-size: cover;
      width: 48%;
      height: 15em;
      color: #fff;
    }

    img.child {
      position: absolute;
      bottom: 3%;
      left: 40%;
      width: 45%;
    }
  }
}
