@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pacifico|Oswald');

a:not([href='']),
a:focus,
a:hover {
  color: #005999;
  text-decoration: none;
}

a:hover {
  color: #07Cfff;
}

a[target="_blank"]:after {
  font-family: 'FontAwesome';
  content: " \f08e";
}


* {
  font-family: Arial, sans-serif;
}

body {
  min-width: 350px;
  min-height: 400px;
}

.page {
  background: linear-gradient(#808080, #a0a0a0);
  padding: 10px 0 30px;
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
}

.page-title {
  margin: 20px 10px 20px 10px;
  text-transform: uppercase;
  font-size: 2em;
  font-family: 'Oswald', sans-serif;
  color: #e5e8ed;
}

