@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pacifico');

a,
a:focus,
a:hover {
  color: #fff;
}

body {
  min-width: 350px;
  min-height: 400px;
  color: #000;
  background-color: #818181;
}

