@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pacifico|Oswald');

a,
a:focus,
a:hover {
  color: #fff;
}

a[target="_blank"]:after {
  font-family: 'FontAwesome';
  content: " \f08e";
}


* {
  font-family: 'Oswald', sans-serif;
  color: #fff;
}

body {
  min-width: 350px;
  min-height: 400px;
  color: #000;
  background: #000;
}

.page {
  background: linear-gradient(#767676, #565656);
  padding: 10px 0 30px;
}

img {
  width: 100%;
}

.page-title {
  margin: 20px 10px 20px 10px;
  text-transform: uppercase;
  font-size: 2em;
  font-family: 'Oswald', sans-serif;
  color: #e5e8ed;
}

