.logo {
  display: block;
  margin: 0;
  padding: 0;
}

.logo > img {
  min-width: 100px;
  width: 11vw;
}

.navbar ul.navbar-nav {
  font-size: 1.2em;
}

.navbar.top {
  @media screen and (min-width: 992px) {
    background: none !important;

    .logo {
      margin: 10px 10px;
    }

    .logo > img {
      width: 300px;
    }

    ul.navbar-nav {
      margin-top: -60px;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}
