.navbar {
  color: #fff;
  padding-right: 40px;

  .logo {
    display: block;
    margin: 0;
    padding: 0;
  }

  .logo > img {
    min-width: 150px;
    width: 9vw;
    max-width: 160px;
  }
}

.navbar ul.navbar-nav {
  font-size: 1.2em;
}

.navbar.top {
  @media screen and (min-width: 992px) {
    background: none !important;

    .logo img {
      margin: 10px 10px;
      width: 300px;
      max-width: 300px;
    }

    ul.navbar-nav {
      margin-top: -30px;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}
