.price-list {
  table {
    td, th {
      letter-spacing: 1px;
      border: 1px solid #8d734a;

      @media screen and (max-width: 576px) {
          padding: 6px;
      }
    }

    th {
      text-align: center;
    }

    td:nth-child(n+2) {
      text-align: right;
    }

    td:not(.no-unit):nth-child(n+2):after {
      content: " Kč";
    }
  }
}
