[smtp]
host = smtp.savana.cz
user = web@skiareal-krkonose.cz
password = xxxxxxxxxxx

[email]
name = Skiareál Luisino údolí
from = web@skiareal-krkonose.cz

[holidayinfo]
url = http://exports.holidayinfo.cz/xml_export.php
params[dc] = xxxxxxxxxxxxxxxx

[map]
apikey = AIxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
