[smtp]
host = smtp.savana.cz
user = web@skiareal-krkonose.cz
password = xxxxxxxxxxxxxx

[email]
name = Skiareál Luisino údolí
from = web@skiareal-krkonose.cz

[holidayinfo]
url = http://exports.holidayinfo.cz/xml_export.php
params[dc] = xxxxxxxxxxxxxxx

[apikeys]
map = xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
captcha-client = xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
captcha-server = xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
