[smtp]
host = smtp.savana.cz
user = web@b-soul.cz
password = password

[email]
name = B-SOUL Taneční škola
from = web@b-soul.cz

[holidayinfo]
url = http://exports.holidayinfo.cz/xml_export.php
params[dc] = 1234567889990

[map]
apikey = AIzaAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAasdsa
