{
	"main_modal": {
		"show": false,
		"header": "Poslední lyžování",
		"body": "Milí lyžaři,<br />zimní sezónu zakončíme <strong>v neděli 24. 3. 2019</strong>. Děkujeme za Vaši přízeň a budeme se na Vás těšit v nadcházející sezóně.<br/><br/>Přejeme krásné jarní dny.<br><span class='float-right'>Tým Skiareálu Luisino údolí</span>"
	}
}
